<section class="col-sm-6 col-md-4">

  <div class="panel panel-default">
    <div class="panel-heading">Passport Status</div>
    <ul class="list-group">
      <li class="list-group-item">
        {{#if user.facebook.id}} Facebook connected!
        <img src="{{user.facebook.photo}}" class="img-thumbnail"> {{else}}
        <a href="{{ facebookPath }}" class="btn btn-primary">Facebook</a>
        {{/if}}
      </li>
      <li class="list-group-item">
        {{#if user.github.id}} GitHub connected!
        <img src="{{user.github.photo}}" class="img-thumbnail"> {{else}}
        <a href="{{ githubPath }}" class="btn btn-primary">GitHub</a>
        {{/if}}
      </li>
      <li class="list-group-item">
        {{#if user.twitter.id}} Twitter connected!
        <img src="{{user.twitter.photo}}" class="img-thumbnail"> {{else}}
        <a href="{{ twitterPath }}" class="btn btn-primary">Twitter</a>
        {{/if}}
      </li>
    </ul>
  </div>

</section>

{{#if user.facebook.data}}
<section class="col-sm-6 col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">Facebook</div>
    <div class="panel-body">
      {{#each user.facebook.data as |data|}}
      <img src="{{data}}" class="img-thumbnail"> {{/each}}
    </div>
  </div>
</section>
{{/if}} {{#if user.github.data}}
<section class="col-sm-6 col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">Github</div>
    <div class="panel-body">
      <ul>
        {{#each user.github.data as |data|}}
        <li>{{data}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</section>
{{/if}} {{#if user.twitter.data}}
<section class="col-sm-6 col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">Twitter</div>
    <div class="panel-body">
      {{#each user.twitter.data as |data|}}
      <li>{{data}}</li>
      {{/each}}
    </div>
  </div>
</section>
{{/if}}
