
{{#if photos}}
<a href="/auth/facebook" disabled class="btn btn-success">Connect Facebook</a>
{{else}}
<a href="/auth/facebook" class="btn btn-success">Connect Facebook</a>
{{/if}}

{{#if tweets.length}}
<a href="/auth/twitter" disabled class="btn btn-success">Connect Twitter</a>
{{else}}
<a href="/auth/twitter" class="btn btn-success">Connect Twitter</a>
{{/if}}
{{#if repos.length}}
<a href="/auth/github" disabled class="btn btn-success">Connect Github</a>
{{else}}
<a href="/auth/github" class="btn btn-success">Connect Github</a>
{{/if}}
<br>
<br>
{{#if photos}}
  <div class="panel panel-primary">
    <div class="panel-heading">Facebook Photos</div>
    <div class="panel-body">
      {{#each photos as |photo|}}
      <img src="{{ photo.picture}}">
      {{/each}}
    </div>
  </div>
{{/if}}

{{#if tweets.length}}
  <div class="panel panel-primary">
    <div class="panel-heading">Tweets</div>
    <div class="panel-body">
      {{#each tweets as |tweet|}}
      <p>
        {{ tweet.user.name }} tweeted on {{ tweet.created_at }}:
      </p>
      <p>
        {{ tweet.text }}
      </p>
      {{/each}}
    </div>
  </div>
{{/if}}

{{#if repos.length}}
  <div class="panel panel-primary">
    <div class="panel-heading">Github <strong>Private</strong> Repos</div>
    <div class="panel-body">
      {{#each repos as |repo|}}
      <p>
        <strong>{{ repo.name }} created at {{ repo.created_at }}</strong>:
      </p>
      <p>
        {{ repo.description }}
      </p>
      <p>{{repo.url}}</p>
      {{/each}}
    </div>
  </div>
{{/if}}
